[Unit]
Description=Wattouat Agent Service
ConditionFileIsExecutable=/bin/wattouat_agent/wattouat_agent_service.sh
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/wattouat_agent/wattouat_agent_service.sh
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
